<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            height: 100%;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="/css/adminCss.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js" integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.css" integrity="sha512-TH+vnrhByFI2RzNvaHSqt6EwoJ9Bp+yGAGTWp84qTuTx315ebnypxtyGHpli55Rm4N4J+N/0W9xAL2b5RZ2ZSA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<div class="container">
    <div class="col-md-6">
        <h2 class="text-center">Thay đổi mật khẩu</h2>

        <form id="change-password-form" class="mt-4 ">
            <div class="form-group">
                <label for="current-username">User name:</label>
                <input type="text" class="form-control" id="current-username" name="current-password" required>
            </div>

            <div class="form-group">
                <label for="current-password">Mật khẩu hiện tại:</label>
                <input type="password" class="form-control" id="current-password" name="current-password" required>
            </div>

            <div class="form-group">
                <label for="new-password">Mật khẩu mới:</label>
                <input type="password" class="form-control" id="new-password" name="new-password" required>
            </div>

            <div class="form-group">
                <label for="confirm-password">Xác nhận mật khẩu mới:</label>
                <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Thay đổi mật khẩu</button>
        </form>
    </div>
</div>
<script src="ajax/user/information.js"></script>
</body>
</html>